
data/adult/adult.data
data/adult/adult.names
data/adult/adult.test
data/adult/old.adult.names
data/bank/bank-additional.zip
data/bank/bank-full.csv
data/bank/bank-names.txt
data/bank/bank.csv
data/bank/bank.zip
data/MNIST/mnist_test.csv
data/MNIST/mnist_train.csv
data/MNIST/processed/test.pt
data/MNIST/processed/training.pt
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
data/purchase.zip
data/purchase/dataset_purchase.tgz
data/purchase/purchase_xx.npy
data/purchase/purchase_y2.npy
